<% @article_title = "All Articles" %>
<span id="look">
  <%= form_tag(articles_path, :method => :get) do %>
      <%= text_field_tag :title, params[:title] %>
      <%= submit_tag 'Search by Title', name: nil %>
      <% end %>
  </span>
    
<h2>Home is Where my Blog post lives</h2>
<p>This is Article land</p>

<%= render(:partial => 'articles/application/search_results') if @result %>


<%= image_tag('plus_sign.png', :size => '15x15', :alt => '+')%>
<%= link_to("Add new Article", new_article_path, :class => 'action new')%>
<div class="tap">
  <table class="listing" summary=" Article list">
    <tr class= 'header'>
      <th>Title</th>
      <th>Author </th>
      <th>Position </th>
      <th>Visible </th>
      <th>Page size </th>
      <th>Last updated</th>
      <th>Actions </th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
      <td> <%=article.title %> </td>
      <td><%=article.author %></td>
      <td><%=article.position %></td>
      <td class="center"><%= status_tag(article.visible)%></td><!--# article.visible ? 'Yes' : 'No' -->
      <td class="center"><%=article.pages.size %></td>
      <td><%= article.updated_at.strftime("%B %d, %Y %H:%M") %></td>
      <td class="actions">
        <%=link_to("Show", article_path(article.id), :class => 'action show')%>
        <%=link_to("Edit", edit_article_path(article.id), :class => 'action edit')%>
        <%=link_to("Delete", delete_article_path(article), :class => 'action delete')%>          
        </td>
    </tr>
  <% end %>
</table>
</div>


<!--
   three ways  to write url reff..
   #1, article_path(article)...using url helpers (rails magic)
   #2, articles/#{articles.id}'z 
   #3 {:controller => 'articles', :action => 'show' :id => #{article.id}} -->